*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    
}

body{
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    
}

.menu-bar{
    background-color: rgb(120, 193, 210);
    text-align: center;
}


.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(90, 94, 224);
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: rgb(3, 15, 36);
}

.active, .menu-bar ul li:hover{
    background: white;
    border-radius: 3px;
}

.menu-bar .fa-solid{
    margin-right: 8px;

}

.sub-menu1{
    display: none;
}

.menu-bar ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    background: rgb(88, 152, 169);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover
{
    color: rgb(228, 228, 232);
}

.btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.btnlogin-popup:hover{
    background: rgb(238, 238, 243);
    color: rgb(27, 48, 121);
}
